td {
  vertical-align: middle !important;
  text-align: center !important;
  font-family: 'Righteous', cursive;
  font-size: 20px;
  color: #444444;
}
th {
  vertical-align: middle !important;
  text-align: center !important;
  font-size: 33px;
  font-family: 'Patua One', cursive;
}
.input-group {
  margin: 10px 0px;
}
td:first-of-type, td:first-of-type > div {
  height: 100px;
  width: 150px;
}

td, img{
  height: 75px;
  width: 75px;
}

.table tbody tr:hover td, .table tbody tr:hover th {
    background-color: #cccccc;
}

.top-title{
  text-align: center;
  color: #034694;
  font-size: 50px;
  font-family: 'Doppio One', sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;

}

@media (min-width: 1200px)
.container-box {
    max-width: 100%;
}
@media (min-width: 992px)
.container {
    max-width: 940px;
}
@media (min-width: 768px)
.container {
    max-width: 720px;
}
@media (min-width: 544px)
.container-box {
    max-width: 576px;}

  .title {
      font-size: 70px;
      font-family: 'Anton', sans-serif;
      letter-spacing: 3px;
      color: white;

    }
    .slogan {
    	font-size: 20px;
      font-family: 'Doppio One', sans-serif;
      color: black;

    	}

    .project-title{
      color: black !important;
      font-size: 30px;
    }
    .Navlinks {
      color: white;
      font-size: 40px;
      margin-top: 0px;
      font-family: 'Allan', sans-serif
    }
    .Navlinks a:hover{
      color: white;
      text-decoration: none;
    }
    .brand-logo{
      color: black !important;
    }
    .brand-logo a:hover{
      color: white !important;
      text-decoration: none !important;
    }
    .main-title-container {
		padding: 32rem ;
		background-color: white;
		color: white;
		background-image: url(./background_image.jpg);
		background-position: center;
		background-size: cover;
    background-attachment: fixed;
   background-repeat: no-repeat;
	}

  .arr-body {
  text-align: center;
  margin: 0 0 0 0;
  padding-top: 15px;
}



 a:hover .bottom-arr{
  border: 0.5em solid white;
}

a:hover .bottom-arr:after {
  border-top: 0.5em solid white;
  border-right: 0.5em solid white;
}


.bottom-arr {
  display: inline-block;
  width: 4em;
  height: 4em;
  border: 0.5em solid #474444;
  border-radius: 50%;
  margin-left: 0.75em;
  text-align: center;
}

.bottom-arr:after {
  content: '';
	display: inline-block;
  margin-top: 0.6em;
  width: 1.4em;
  height: 1.4em;
  border-top: 0.5em solid #474444;
  border-right: 0.5em solid #474444;
  -moz-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
.section-title{
  font-family: 'Anton', sans-serif;
  font-size: 50px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.margintop{
  margin-top: 20px;

}

.about-img{
  margin-left: 15px;
  height: 360px;
  width: 420px;
}
.btc-img, .eth-img{
  margin-right: 15px;
  height: 300px;
  width: 300px;
  margin-bottom: 60px;
  /*-webkit-filter: drop-shadow(.5px .5px 0 black)
                  drop-shadow(-.5px -.5px 0 white);
    filter:drop-shadow(1px 1px 0 black)
           drop-shadow(-1px -1px 0 white);*/
}
.eth-img{
  margin-right: 15px;
  height: 300px;
  width: 200px;
  margin-bottom: 60px;
}

.bitcoin-text{
  font-size: 20px;
  color: black;
  font-family: 'Karla', serif;
}
.ethereum-text{
  font-size: 20px;
  color: white;
  font-family: 'Karla', serif;
}
blockquote{
  display:block;
  background: #fff;
  padding: 45px 10px 15px 45px;
  margin: 0 0 10px;
  position: relative;

  /*Font*/
  font-family: Georgia, serif;
  font-size: 16px;
  line-height: 1.2;
  color: #666;
  text-align: justify;

  /*Borders - (Optional)*/
  border-left: 15px solid black !important;
  border-right: 2px solid black;

  /*Box Shadow - (Optional)*/
  -moz-box-shadow: 2px 2px 15px #ccc;
  -webkit-box-shadow: 2px 2px 15px #ccc;
  box-shadow: 2px 2px 15px #ccc;
}

blockquote::before{
  content: "\201C"; /*Unicode for Left Double Quote*/

  /*Font*/
  font-family: Georgia, serif;
  font-size: 60px;
  font-weight: bold;
  color: #999;

  /*Positioning*/
  position: absolute;
  left: 10px;
  top:5px;
}
.custom-button {
    width: 150px !important;
}
.nav-wrapper{
  background-color:white;
  color: black;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 2px solid rgba(0,0,0,.1) !important;
}

.bitcoin-page{
background: #F7971E;  /* fallback for old browsers
/*background: -webkit-linear-gradient(to right, #FFD200, #F7971E);  /* Chrome 10-25, Safari 5.1-6 */
/*background: linear-gradient(to right, #FFD200, #F7971E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(270deg, #ffd200, #f7971e);
/*background-size: 400% 400%;*/

-webkit-animation: BtcAnimate 30s ease infinite;
-moz-animation: BtcAnimate 30s ease infinite;
animation: BtcAnimate 30s ease infinite;
overflow: hidden
}

@-webkit-keyframes BtcAnimate {
    0%{background-position:0% 50%}
    50%{background-position:100% 51%}
    100%{background-position:0% 50%}
}
@-moz-keyframes BtcAnimate {
    0%{background-position:0% 50%}
    50%{background-position:100% 51%}
    100%{background-position:0% 50%}
}
@keyframes BtcAnimate {
    0%{background-position:0% 50%}
    50%{background-position:100% 51%}
    100%{background-position:0% 50%}
}
.ethereum-page{
  background: #000000;  /* fallback for old browsers */
  /*background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  /*background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(270deg, #434343, #000000);
  background-size: 400% 400%;

  -webkit-animation: EthAnimate 40s ease infinite;
  -moz-animation: EthAnimate 40s ease infinite;
  animation: EthAnimate 40s ease infinite;
  overflow: hidden
}
@-webkit-keyframes EthAnimate {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes EthAnimate {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes EthAnimate {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.roboto{
  font-family: 'Roboto Condensed', sans-serif;
}

.about-container{
  display: flex;

}
.about-image{
  flex-grow: 1;
}
.about-text{
  flex-grow: 2;
  font-size: 18px;
  padding-top: 20px;
  padding-left: 100px;
  padding-right: 100px;
  color: #706e6e;
  font-family: 'Lato';
  padding-bottom: 20px;
}
.about-gradient{

}

.about-title{
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  text-align: center;
  padding-top: 80px;
  color: #002448;
}
.about-col{
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
}
.column-text{
  color: #706e6e;
  font-family: 'Lato';
  font-size: 17px;

}
.about-icon{
  padding-top: 20px;
  padding-bottom: 20px;
  color: #0088c8;
}

.grow {
  transition: all .2s ease-in-out;
}
.grow:hover {
  transform: scale(1.5);
  color: #696969;
 }

 .flex-container{
   display: flex;
   flex-flow: row;

 }

 .flex-container2{
   display: flex;
   flex-flow: row;

 }
 .item1 {
     -webkit-flex: 1;
     flex: 1;
     flex-wrap: wrap;

 }

 .item2 {
     -webkit-flex: 1;
     flex: 1;
 }

 .item3 {
     -webkit-flex: 1;
     flex: 1;
 }

 .item4 {
     -webkit-flex: 1;
     flex: 1;
 }

 .item5 {
     -webkit-flex: 1;
     flex: 1;
 }

 .item6 {
     -webkit-flex: 1;
     flex: 1;
 }

 .opaque-navbar {
     /*background-color: rgba(0,0,0,0.5);*/
     background-color: rgba(0,0,0,0);

   /* Transparent = rgba(0,0,0,0) / Translucent = (0,0,0,0.5)  */
     height: 60px;
     border-bottom: 0px;
     transition: background-color 1s ease 0s;
 }

 .opaque-navbar.opaque {
     background-color: #0088c8;
     height: 60px;
     transition: background-color 1s ease 0s;
     

 }

 ul.dropdown-menu {
     background-color: black;
 }


 @media (max-width: 992px) {
   body
   {
     background:red;
   }
   .opaque-navbar {
     background-color: #0088c8;
     height: 60px;
     transition: background-color 1s ease 0s;
 }

 }
@media( max-width: 760px){
  .flex-container{
    display: flex;
    flex-flow: column;

  }

  .flex-container2{
    display: flex;
    flex-flow: column;

  }

}


.popular-container {
padding: 17rem ;
background-color: white;
color: white;
background-image: url(./popular.jpg);
background-position: center;
background-size: cover;
background-attachment: fixed;
background-repeat: no-repeat;
}

.popular-title{
  font-size: 60px;
  font-family: 'Doppio One', sans-serif;

}
.popular-slogan{
  font-family: 'Raleway', sans-serif;

}

.popular-overview{
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 170px;
  padding-right: 170px;
}
.popular-overview-title{
  font-family: 'Raleway', sans-serif;
  color: #0088c8;


}
.popular-overview-text{
  color: #7e7c7c;
  font-family: 'Lato';
  font-size: 18px;
  padding-top: 20px;
  padding-bottom: 10px;
}
