td {
  vertical-align: middle !important;
  text-align: center !important;
}
th {
  vertical-align: middle !important;
  text-align: center !important;
  font-size: 30px;
  font-family: 'Patua One', cursive;
}
.input-group {
  margin: 10px 0px;
}
td:first-of-type, td:first-of-type > div {
  height: 100px;
  width: 150px;
}

td, img{
  height: 75px;
  width: 75px;
}
